<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>17EA0218D5E1C3C809451268</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>17EA04260FEB4A0F75967E38</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>17EA0F0C4450CD00E2C1C8E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
